.verde {
    border-left: solid 3px #27ce06;
    padding-left: 15px;
    padding-top: 15px;
    width: 310px;
    height: 150px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}

.azul {
    border-left: solid 3px #063bce;
    padding-left: 15px;
    padding-top: 15px;
    width: 310px;
    height: 150px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}

.vermelho {
    border-left: solid 3px #ce0606;
    padding-left: 15px;
    padding-top: 15px;
    width: 310px;
    height: 150px;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}